In [40]:
import ast
import re
import nltk
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime
import ast
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
import pickle

<h1>Import Dataset</h1>

In [41]:
base = "data/"
has_face_pkl_path = "data/has_face.pkl"
reciprocity_path = "data/reciprocity.pkl"

In [42]:
df_users = pd.read_csv(base + "/combined_twitter_data_with_tweets_corpus.csv")

In [43]:
df_users.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id', 'name', 'screen_name',
       'statuses_count', 'followers_count', 'friends_count',
       'favourites_count', 'listed_count', 'url', 'lang', 'time_zone',
       'location', 'default_profile', 'default_profile_image', 'geo_enabled',
       'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'protected', 'verified', 'description', 'created_at', 'updated',
       'account_type', 'tweets_list'],
      dtype='object')

In [44]:
# get tweets df
# save tweets dataset into local 
filenames_tweets = [
    "all tweets 2017/tweets_fake_followers.csv",
    "all tweets 2017/tweets_genuine_accounts.csv",
    "all tweets 2017/tweets_social_spambots_1.csv",
    "all tweets 2017/tweets_social_spambots_2.csv",
    "all tweets 2017/tweets_social_spambots_3.csv",
    "all tweets 2017/tweets_traditional_spambots_1.csv",

    "tweets 2015/tweets_E13.csv",
    "tweets 2015/tweets_FSF.csv",
    "tweets 2015/tweets_INT.csv",
    "tweets 2015/tweets_TFP.csv",
    "tweets 2015/tweets_TWT.csv"
]
#filenames_tweets = map(lambda x: "data/"+ x, filenames_tweets)
filenames_tweets = map(lambda x: base + x, filenames_tweets)
for i,fn in enumerate(filenames_tweets):
    if i == 0:
        df_tweets = pd.read_csv(fn, encoding='ISO-8859-1')
    else:
        df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)

C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:21: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.read_csv(fn, encoding='ISO-8859-1')
C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:23: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)
C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:23: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)
C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:23: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)
C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:23: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)
C:\Users\valen\AppData\Local\Temp\ipykernel_21712\2429800940.py:23: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tweets = pd.concat([df_tweets, pd.read_csv(fn, encoding='ISO-8859-1') ], axis=0)

In [45]:
df_tweets = df_tweets.dropna(subset = ["user_id"])  
df_tweets["user_id"] = df_tweets["user_id"].apply(int)

## Data Cleaning

### Remove columns that are redundant
Data is redundant in helping us with our problem statement when:
- The data is metadata
- There are too many unique categories

In [46]:
remove_list = ['Unnamed: 0.1', 'Unnamed: 0', 'lang', 'time_zone', 'location', 'profile_banner_url', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https', 'profile_sidebar_border_color', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'profile_background_color', 'profile_link_color', 'utc_offset', 'created_at', 'updated']

In [47]:
df_users = df_users.drop(remove_list, axis = 1)

### Replace NaN values with zeros for binary columns

In [48]:
df_users['default_profile'] = df_users['default_profile'].fillna(0)
df_users['default_profile_image'] = df_users['default_profile_image'].fillna(0)
df_users['geo_enabled'] = df_users['geo_enabled'].fillna(0)
df_users['default_profile_image'] = df_users['default_profile_image'].fillna(0)
df_users['profile_use_background_image'] = df_users['profile_use_background_image'].fillna(0)
df_users['profile_background_tile'] = df_users['profile_background_tile'].fillna(0)

<h2>Train Test Split (85-15)</h2>

In [49]:
#get the target variable - real or fake account type - binary classification problem
df_users = df_users[(df_users['account_type'] == "real") | (df_users['account_type'] == "fake")]
print(df_users['account_type'].value_counts())
df_users['account_type'] = df_users['account_type'].apply(lambda x: 0 if x=="fake" else 1)

train, test = train_test_split(df_users, test_size=0.15, random_state=69, stratify=df_users['account_type'])

fake    8362
real    2751
Name: account_type, dtype: int64

In [50]:
print("train size:", len(train))
print("test size", len(test))

train size: 9446
test size 1667

In [51]:
train['account_type'].value_counts()

0    7108
1    2338
Name: account_type, dtype: int64

<h2>Date Formatting</h2>

In [52]:
# takes around 10 min to run
df_tweets['created_at_formatted'] = pd.to_datetime(df_tweets['timestamp'], infer_datetime_format=True, errors='coerce')

In [53]:
df_tweets['created_at_date'] = df_tweets['created_at_formatted'].apply(lambda x: x.date())

<h2>Tweet features</h2>

In [54]:
def tweet_freq(df_users, df_tweets):
    
    # user tweet frequency = total number of tweets / number of user active days 
    # shows how often the user tweets among the days that a user tweets at least once. User activity is defined by whether the user tweets in a given day
    # 1 = user tweets only once per active day 
    # >1 = user tweets more than once a day on average, in the days that the user is active 

    df_tweets_per_day = df_tweets.groupby(by=["user_id"]).agg(tweet_count=('text', 'count'),
                                                              date_count=('created_at_date', lambda x: x.nunique()))

    dict_tweets_average = {user_id: df_tweets_per_day.loc[user_id]['tweet_count'] / df_tweets_per_day.loc[user_id]['date_count'] for user_id in df_tweets_per_day.index}
    #create new column for user tweet frequency 
    df_users['tweet_frequency'] = df_users['id'].map(dict_tweets_average)
    df_users['tweet_frequency'] = df_users['tweet_frequency'].fillna(0)
    return df_users

def tweet_tags_mention(df_users, df_tweets):
    # average number of tags per post = total number of tags used per tweet 
    # average number of mentions per post = total number of mentions per tweet 

    df_tweets['text'] = df_tweets['text'].apply(str) #convert all text to string
    df_tweets['number_of_tags'] = df_tweets['text'].apply(lambda x: x.count("#"))
    df_tweets['number_of_mentions'] = df_tweets['text'].apply(lambda x: x.count("@"))
    tags_dict = df_tweets.groupby(by=["user_id"])['number_of_tags'].sum().to_dict()
    mentions_dict = df_tweets.groupby(by=["user_id"])['number_of_mentions'].sum().to_dict() 

    #create new column for number of tags
    df_users['number_of_tags'] = df_users['id'].map(tags_dict)
    #create new column for number of mentions
    df_users['number_of_mentions'] = df_users['id'].map(mentions_dict)
    
    df_users['number_of_mentions'] = df_users['number_of_mentions'].fillna(0)
    df_users['number_of_tags'] = df_users['number_of_tags'].fillna(0)
    return df_users

In [55]:
# return 0 if weekend, 1 if weekday 
def is_weekday(dt):
    return 0 if dt.weekday() > 4 else 1

# return day of week 
def get_weekday(dt):
    return dt.weekday()

def get_weekend_weekday_frequency(df_tweets, df_users):
    df_tweets['weekday'] = df_tweets['created_at_formatted'].apply(lambda x: is_weekday(x))
    df_tweets_weekday_weekend = df_tweets.groupby(by=["user_id", "weekday"]).agg(tweet_count=('text', 'count'),
                                                          date_count=('created_at_date', lambda x: x.nunique()))
    dict_tweets_weekend = {user_id: df_tweets_weekday_weekend.loc[(user_id, weekday)]['tweet_count'] / df_tweets_weekday_weekend.loc[(user_id, weekday)]['date_count'] for (user_id, weekday) in df_tweets_weekday_weekend.index if weekday == 0}
    df_users['tweet_weekend_frequency'] = df_users['id'].map(dict_tweets_weekend)        
    dict_tweets_weekday = {user_id: df_tweets_weekday_weekend.loc[(user_id, weekday)]['tweet_count'] / df_tweets_weekday_weekend.loc[(user_id, weekday)]['date_count'] for (user_id, weekday) in df_tweets_weekday_weekend.index if weekday == 1}
    df_users['tweet_weekday_frequency'] = df_users['id'].map(dict_tweets_weekday)
    
    df_users['tweet_weekend_frequency'] = df_users['tweet_weekend_frequency'].fillna(0)
    df_users['tweet_weekday_frequency'] = df_users['tweet_weekday_frequency'].fillna(0)
    return df_users

<h2>Followers To Following Ratio Features

In [56]:
def create_followers_following_ratio(df):
    #followers divide by following (high means popular, low means more following)
    df['following_to_followers_ratio'] = df['friends_count'] / df['followers_count']
    df['following_to_followers_ratio'] = df['following_to_followers_ratio'].fillna(0)
    df['following_to_followers_ratio'] = df['following_to_followers_ratio'].apply(lambda x: 1 if x == np.inf else x)
    return df

<h2>Name Features

In [57]:
def name_features(df):
    #get length of username and screen name
    df['username_length'] = df['name'].apply(lambda x: len(str(x)))
    df['screen_name_length'] = df['screen_name'].apply(lambda x: len(str(x)))
    
    #anything that is not a-z or 0-9 will be blocked, outputs length
    df['username_spec_char_count'] = df['name'].apply(lambda x: len(re.findall(r'[^A-Za-z0-9]+', str(x))))
    df['screen_name_spec_char_count'] = df['screen_name'].apply(lambda x: len(re.findall(r'[^A-Za-z0-9]+', str(x))))
    return df

<h2>Has URL Feature

In [58]:
def has_url_feature(df):
    #1 if has url, 0 if no url
    df['has_url'] = df['url'].apply(lambda x: 0 if pd.isnull(x) else 1)
    return df

<h2>Text Features

In [59]:
def clean_texts(df):
    def process_tweets_list(corpus):
        
        corpus_processed = []
        for tweet_list in corpus:
            tweet_list = str(tweet_list)
            row_processed = ""
            
            #replace RT and @
            row_processed = tweet_list.replace("RT", "" ) 
            row_processed = row_processed.replace("@", "" )
            
            row_processed = re.sub(r'http\S+', "", row_processed) #remove any URLs in tweets
            row_processed = re.sub(r'[^\x00-\x7f]', "", row_processed) #remove Non-ASCII characters
            row_processed = re.sub(r'[^\w\s]', '', row_processed) # remove punctuation
            corpus_processed.append(row_processed if not row_processed == 'nan' else "") # handle NA
            

        return corpus_processed
    
    def process_description(corpus):
        
        corpus_processed = []
        for row in corpus:
            row = str(row)
            row_processed = re.sub(r'[^\x00-\x7f]', "", row) #remove Non-ASCII characters
            row_processed = re.sub(r'[^\w\s]', '', row_processed) # remove punctuation
            corpus_processed.append(row_processed if not row_processed == 'nan' else "") # handle NA
            
        return corpus_processed
    
    df["tweets_list_processed"] = process_tweets_list(df["tweets_list"])
    df["description_processed"] = process_description(df["description"])
    
    return df

In [60]:
class LemmatizeTokenizer(object):
    def __init__(self):
        self.lemmatizer = WordNetLemmatizer()
    def __call__(self, text):
        return [self.lemmatizer.lemmatize(word) for word in word_tokenize(text)]

In [61]:
def generate_nlp_features(df):

    tfidf_feature_names = {}

    max_tfidf_features = 100
    
    #tweets
    vect_tweets = TfidfVectorizer( 
        tokenizer=LemmatizeTokenizer(),
        lowercase=True,
        analyzer='word', 
        ngram_range=(1,3), # unigram, bigram and trigram 
        max_features=max_tfidf_features, # vocabulary that only consider the top max_features ordered by term frequency across the corpus
        min_df=10, # minimum word frequency required to be in model
        stop_words=stopwords.words('english') # remove stopwords
        )
    
    tweets_processed = pd.Series(df["tweets_list_processed"])
    tfidf_fit_tweets = vect_tweets.fit(tweets_processed)
    tweets_tfidf_array = tfidf_fit_tweets.transform(tweets_processed).toarray()
    tweets_tfidf_df = pd.DataFrame(tweets_tfidf_array)
    tweets_tfidf_df.columns = list(map(lambda x: "tweets_" + str(x), tweets_tfidf_df.columns))
    df = pd.concat([df.reset_index(drop=True),tweets_tfidf_df.reset_index(drop=True)], axis=1)
    tfidf_feature_names["tweets"] = list(zip(range(max_tfidf_features),vect_tweets.get_feature_names()))
    
    #description
    vect_description = TfidfVectorizer( 
        tokenizer=LemmatizeTokenizer(),
        lowercase=True,
        analyzer='word', 
        ngram_range=(1,3), # unigram, bigram and trigram 
        max_features=max_tfidf_features, # vocabulary that only consider the top max_features ordered by term frequency across the corpus
        min_df=10, # minimum word frequency required to be in model
        stop_words=stopwords.words('english') # remove stopwords
        )
    
    description_processed = pd.Series(df["description_processed"])
    tfidf_fit_description = vect_description.fit(description_processed)
    description_tfidf_array = tfidf_fit_description.transform(description_processed).toarray()
    description_tfidf_df = pd.DataFrame(description_tfidf_array)
    description_tfidf_df.columns = list(map(lambda x: "description_" + str(x), description_tfidf_df.columns))
    df = pd.concat([df.reset_index(drop=True),description_tfidf_df.reset_index(drop=True)], axis=1)
    tfidf_feature_names["description"] = list(zip(range(max_tfidf_features),vect_description.get_feature_names()))


    
    return (df, tfidf_fit_tweets, tfidf_fit_description, tfidf_feature_names)

def nlp_transform_test(df, tfidf_fit_tweets, tfidf_fit_description):
    tweets_tfidf_array = tfidf_fit_tweets.transform(df['tweets_list_processed']).toarray()
    tweets_tfidf_df = pd.DataFrame(tweets_tfidf_array)
    tweets_tfidf_df.columns = list(map(lambda x : "tweets_" + str(x), tweets_tfidf_df.columns))
    df = pd.concat([df.reset_index(drop=True),tweets_tfidf_df.reset_index(drop=True)], axis=1)
    
    description_tfidf_array = tfidf_fit_description.transform(df['description_processed']).toarray()
    description_tfidf_df = pd.DataFrame(description_tfidf_array)
    description_tfidf_df.columns = list(map(lambda x : "description_" + str(x), description_tfidf_df.columns))
    df = pd.concat([df.reset_index(drop=True),description_tfidf_df.reset_index(drop=True)], axis=1)
    
    return df

## Has Face Feature (Face Detection with MTCNN)

In [62]:
# import the mapping and attach to df during combine
with open(has_face_pkl_path, 'rb') as f:
    has_face_d = pickle.load(f)

has_face_d = {int(k):v for k,v in has_face_d.items()}

## Graph Analysis: Reciprocity of each user 
- The ratio of the number of relations which are reciprocated over the total number of relations in a directed network

In [63]:
# import the mapping and attach to df during combine
with open(reciprocity_path, 'rb') as f:
    reci_d = pickle.load(f)

<h2>Combine all Feature Generating Functions</h2>

In [64]:
result = tweet_freq(train, df_tweets)
result = tweet_tags_mention(result, df_tweets)
result = get_weekend_weekday_frequency(df_tweets, result)
result = create_followers_following_ratio(result)
result = name_features(result)
result = has_url_feature(result)
result = clean_texts(result)
result, tfidf_fit_tweets, tfidf_fit_description, tfidf_feature_names = generate_nlp_features(result)
result['has_face'] = result['id'].map(has_face_d)
result['reciprocity'] = result['id'].map(reci_d)

c:\Users\valen\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
c:\Users\valen\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'d", "'ll", "'re", "'s", "'ve", 'could', 'doe', 'ha', 'might', 'must', "n't", 'need', 'sha', 'wa', 'wo', 'would'] not in stop_words.
  warnings.warn(
c:\Users\valen\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
c:\Users\valen\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(
c:\Users\valen\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'d", "'ll", "'re", "'s", "'ve", 'could', 'doe', 'ha', 'might', 'must', "n't", 'need', 'sha', 'wa', 'wo', 'would'] not in stop_words.
  warnings.warn(
c:\Users\valen\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [65]:
result

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,default_profile,...,description_92,description_93,description_94,description_95,description_96,description_97,description_98,description_99,has_face,reciprocity
0,82118682,davide gazzÃ¨,davidegazze,88,19,39,9,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.75
1,1174756808,Carolee Moberly,MoberlycikCarol,19,7,192,0,0,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
2,708732794,Julius Kirk,juliuskirkdoq,22,11,241,0,0,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
3,2360642101,Magan Skripko,MaganSkripko,47,6,41,0,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
4,2379608905,Martin Bruley,MartinBruley,34,4,36,0,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9441,2363037596,Ula Banegas,UlaBanegas,53,6,36,0,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
9442,1175035327,Jasmine Finkelstein,FinkelsteinupdJ,22,8,194,0,0,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
9443,67631743,TMJ-Morocco Jobs,tmj_mar_jobs1,49,582,494,0,53,https://t.co/DByWt45HZj,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00
9444,2370803990,Christy Schnicke,ChristySchnicke,64,11,43,0,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.00
9445,2360933791,Abbey Pelaez,AbbeyPelaez,35,7,42,0,0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.00

## Apply same feature engineering on Test data

In [66]:
test = tweet_freq(test, df_tweets)
test = tweet_tags_mention(test, df_tweets)
test = get_weekend_weekday_frequency(df_tweets, test)
test = create_followers_following_ratio(test)
test = name_features(test)
test = has_url_feature(test)
test = clean_texts(test)
test = nlp_transform_test(test, tfidf_fit_tweets, tfidf_fit_description)
test['has_face'] = test['id'].map(has_face_d)
test['reciprocity'] = test['id'].map(reci_d)

In [67]:
print(len(test.columns))
print(len(result.columns))

for i in result.columns:
    if i not in test.columns:
        print(i)

235
235

In [68]:
test.tweets_99.describe()

count    1667.000000
mean        0.041574
std         0.073182
min         0.000000
25%         0.000000
50%         0.000000
75%         0.057944
max         0.602594
Name: tweets_99, dtype: float64

## Export to CSV

In [69]:
result.to_csv("data/twitter_data_train.csv", index=False)
test.to_csv("data/twitter_data_test.csv", index=False)

In [70]:
result[result.id==1]

Empty DataFrame
Columns: [id, name, screen_name, statuses_count, followers_count, friends_count, favourites_count, listed_count, url, default_profile, default_profile_image, geo_enabled, profile_image_url, profile_use_background_image, profile_background_tile, protected, verified, description, account_type, tweets_list, tweet_frequency, number_of_tags, number_of_mentions, tweet_weekend_frequency, tweet_weekday_frequency, following_to_followers_ratio, username_length, screen_name_length, username_spec_char_count, screen_name_spec_char_count, has_url, tweets_list_processed, description_processed, tweets_0, tweets_1, tweets_2, tweets_3, tweets_4, tweets_5, tweets_6, tweets_7, tweets_8, tweets_9, tweets_10, tweets_11, tweets_12, tweets_13, tweets_14, tweets_15, tweets_16, tweets_17, tweets_18, tweets_19, tweets_20, tweets_21, tweets_22, tweets_23, tweets_24, tweets_25, tweets_26, tweets_27, tweets_28, tweets_29, tweets_30, tweets_31, tweets_32, tweets_33, tweets_34, tweets_35, tweets_36, tweets_37, tweets_38, tweets_39, tweets_40, tweets_41, tweets_42, tweets_43, tweets_44, tweets_45, tweets_46, tweets_47, tweets_48, tweets_49, tweets_50, tweets_51, tweets_52, tweets_53, tweets_54, tweets_55, tweets_56, tweets_57, tweets_58, tweets_59, tweets_60, tweets_61, tweets_62, tweets_63, tweets_64, tweets_65, tweets_66, ...]
Index: []

[0 rows x 235 columns]

In [71]:
test[test.id==1]

Empty DataFrame
Columns: [id, name, screen_name, statuses_count, followers_count, friends_count, favourites_count, listed_count, url, default_profile, default_profile_image, geo_enabled, profile_image_url, profile_use_background_image, profile_background_tile, protected, verified, description, account_type, tweets_list, tweet_frequency, number_of_tags, number_of_mentions, tweet_weekend_frequency, tweet_weekday_frequency, following_to_followers_ratio, username_length, screen_name_length, username_spec_char_count, screen_name_spec_char_count, has_url, tweets_list_processed, description_processed, tweets_0, tweets_1, tweets_2, tweets_3, tweets_4, tweets_5, tweets_6, tweets_7, tweets_8, tweets_9, tweets_10, tweets_11, tweets_12, tweets_13, tweets_14, tweets_15, tweets_16, tweets_17, tweets_18, tweets_19, tweets_20, tweets_21, tweets_22, tweets_23, tweets_24, tweets_25, tweets_26, tweets_27, tweets_28, tweets_29, tweets_30, tweets_31, tweets_32, tweets_33, tweets_34, tweets_35, tweets_36, tweets_37, tweets_38, tweets_39, tweets_40, tweets_41, tweets_42, tweets_43, tweets_44, tweets_45, tweets_46, tweets_47, tweets_48, tweets_49, tweets_50, tweets_51, tweets_52, tweets_53, tweets_54, tweets_55, tweets_56, tweets_57, tweets_58, tweets_59, tweets_60, tweets_61, tweets_62, tweets_63, tweets_64, tweets_65, tweets_66, ...]
Index: []

[0 rows x 235 columns]

In [72]:
import pickle
tfidf_feature_names

with open('data/tfidf_feature_names.pkl', 'wb') as f:
    pickle.dump(tfidf_feature_names, f)

In [73]:
tfidf_feature_names

{'tweets': [(0, 'al'),
  (1, 'always'),
  (2, 'amp'),
  (3, 'anche'),
  (4, 'back'),
  (5, 'best'),
  (6, 'cant'),
  (7, 'che'),
  (8, 'check'),
  (9, 'chi'),
  (10, 'ci'),
  (11, 'come'),
  (12, 'con'),
  (13, 'cool'),
  (14, 'da'),
  (15, 'day'),
  (16, 'de'),
  (17, 'dei'),
  (18, 'del'),
  (19, 'della'),
  (20, 'di'),
  (21, 'dont'),
  (22, 'e'),
  (23, 'essere'),
  (24, 'get'),
  (25, 'gli'),
  (26, 'go'),
  (27, 'going'),
  (28, 'good'),
  (29, 'got'),
  (30, 'great'),
  (31, 'great introduction'),
  (32, 'ha'),
  (33, 'history'),
  (34, 'ho'),
  (35, 'il'),
  (36, 'im'),
  (37, 'introduction'),
  (38, 'io'),
  (39, 'know'),
  (40, 'la'),
  (41, 'le'),
  (42, 'learn'),
  (43, 'life'),
  (44, 'like'),
  (45, 'lo'),
  (46, 'lol'),
  (47, 'look'),
  (48, 'love'),
  (49, 'mai'),
  (50, 'make'),
  (51, 'man'),
  (52, 'mi'),
  (53, 'money'),
  (54, 'much'),
  (55, 'na'),
  (56, 'need'),
  (57, 'never'),
  (58, 'new'),
  (59, 'non'),
  (60, 'one'),
  (61, 'people'),
  (62, 'per'),
  (63, 'perch'),
  (64, 'pi'),
  (65, 'quando'),
  (66, 'read'),
  (67, 'read history'),
  (68, 'really'),
  (69, 'right'),
  (70, 'say'),
  (71, 'se'),
  (72, 'see'),
  (73, 'sempre'),
  (74, 'shoe'),
  (75, 'si'),
  (76, 'solo'),
  (77, 'something'),
  (78, 'sono'),
  (79, 'su'),
  (80, 'take'),
  (81, 'te'),
  (82, 'thing'),
  (83, 'think'),
  (84, 'ti'),
  (85, 'time'),
  (86, 'today'),
  (87, 'tutti'),
  (88, 'twitter'),
  (89, 'u'),
  (90, 'un'),
  (91, 'una'),
  (92, 'via'),
  (93, 'wa'),
  (94, 'want'),
  (95, 'way'),
  (96, 'work'),
  (97, 'world'),
  (98, 'would'),
  (99, 'youre')],
 'description': [(0, '2'),
  (1, 'account'),
  (2, 'account geotargeted'),
  (3, 'account geotargeted businessmgmt'),
  (4, 'account geotargeted customer'),
  (5, 'account geotargeted job'),
  (6, 'back'),
  (7, 'blog'),
  (8, 'business'),
  (9, 'businessmgmt'),
  (10, 'businessmgmt job'),
  (11, 'businessmgmt job tweet'),
  (12, 'careerarc'),
  (13, 'che'),
  (14, 'click'),
  (15, 'click link'),
  (16, 'code'),
  (17, 'customer'),
  (18, 'customer service'),
  (19, 'customer service job'),
  (20, 'da'),
  (21, 'de'),
  (22, 'di'),
  (23, 'dont'),
  (24, 'e'),
  (25, 'enter'),
  (26, 'fan'),
  (27, 'follow'),
  (28, 'follow account'),
  (29, 'follow account geotargeted'),
  (30, 'friend'),
  (31, 'geotargeted'),
  (32, 'geotargeted businessmgmt'),
  (33, 'geotargeted businessmgmt job'),
  (34, 'geotargeted customer'),
  (35, 'geotargeted customer service'),
  (36, 'geotargeted job'),
  (37, 'geotargeted job tweet'),
  (38, 'get'),
  (39, 'help'),
  (40, 'help tweet'),
  (41, 'help tweet u'),
  (42, 'hiring'),
  (43, 'il'),
  (44, 'im'),
  (45, 'java'),
  (46, 'job'),
  (47, 'job tweet'),
  (48, 'know'),
  (49, 'la'),
  (50, 'le'),
  (51, 'life'),
  (52, 'like'),
  (53, 'link'),
  (54, 'love'),
  (55, 'lover'),
  (56, 'make'),
  (57, 'medium'),
  (58, 'member'),
  (59, 'member twitter'),
  (60, 'mi'),
  (61, 'music'),
  (62, 'need'),
  (63, 'need help'),
  (64, 'need help tweet'),
  (65, 'new'),
  (66, 'non'),
  (67, 'nonmetro'),
  (68, 'nonmetro need'),
  (69, 'nonmetro need help'),
  (70, 'one'),
  (71, 'open'),
  (72, 'people'),
  (73, 'per'),
  (74, 'prize'),
  (75, 'que'),
  (76, 'resource'),
  (77, 'se'),
  (78, 'service'),
  (79, 'service job'),
  (80, 'service job tweet'),
  (81, 'site'),
  (82, 'social'),
  (83, 'social medium'),
  (84, 'software'),
  (85, 'time'),
  (86, 'tweet'),
  (87, 'tweet u'),
  (88, 'tweet u careerarc'),
  (89, 'twitter'),
  (90, 'u'),
  (91, 'u careerarc'),
  (92, 'un'),
  (93, 'una'),
  (94, 'unique'),
  (95, 'web'),
  (96, 'winner'),
  (97, 'winner unique'),
  (98, 'world'),
  (99, 'writer')]}

In [79]:
result['description']

0                                                  NaN
1    Spirit Led Conservative news blogger. #TeamJes...
2                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
6    ProvidingFREE information on How To Create A W...
7                        L'azzurro Ã¨ un cognome, sÃ¬.
8                         Seahawks, Mariners, #gohawks
9    Shitspeak from @Fantattitude so @ldesroziers d...
Name: description, dtype: object