In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv("data/twitter_data_train.csv")
test_df = pd.read_csv("data/twitter_data_test.csv")

In [4]:
train_df[train_df.id==1]

Empty DataFrame
Columns: [id, name, screen_name, statuses_count, followers_count, friends_count, favourites_count, listed_count, url, default_profile, default_profile_image, geo_enabled, profile_image_url, profile_use_background_image, profile_background_tile, protected, verified, description, account_type, tweets_list, tweet_frequency, number_of_tags, number_of_mentions, tweet_weekend_frequency, tweet_weekday_frequency, following_to_followers_ratio, username_length, screen_name_length, username_spec_char_count, screen_name_spec_char_count, has_url, has_desc, tweets_list_processed, description_processed, tweets_0, tweets_1, tweets_2, tweets_3, tweets_4, tweets_5, tweets_6, tweets_7, tweets_8, tweets_9, tweets_10, tweets_11, tweets_12, tweets_13, tweets_14, tweets_15, tweets_16, tweets_17, tweets_18, tweets_19, tweets_20, tweets_21, tweets_22, tweets_23, tweets_24, tweets_25, tweets_26, tweets_27, tweets_28, tweets_29, tweets_30, tweets_31, tweets_32, tweets_33, tweets_34, tweets_35, tweets_36, tweets_37, tweets_38, tweets_39, tweets_40, tweets_41, tweets_42, tweets_43, tweets_44, tweets_45, tweets_46, tweets_47, tweets_48, tweets_49, tweets_50, tweets_51, tweets_52, tweets_53, tweets_54, tweets_55, tweets_56, tweets_57, tweets_58, tweets_59, tweets_60, tweets_61, tweets_62, tweets_63, tweets_64, tweets_65, ...]
Index: []

[0 rows x 236 columns]

In [5]:
df_import = pd.read_csv("data/cresci2017/traditional_spambots_4.csv")
#df_import = pd.read_csv("/Users/ivankoh/Downloads/traditional_spambots_4.csv")

In [6]:
df_import

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,protected,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated
0,21478911,TMJ- CLT Util Jobs,tmj_clt_util,4,344,295,0,5,https://t.co/DByWt45HZj,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Utilities...,NaN,NaN,Sat Feb 21 12:04:47 +0000 2009,2009-02-21 13:04:47,2016-03-15 13:48:59,2016-03-15 13:48:59
1,21479094,TMJ - SFO Util Jobs,tmj_sfo_util,3,353,322,0,16,https://t.co/DByWt45HZj,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Utilities...,NaN,NaN,Sat Feb 21 12:09:26 +0000 2009,2009-02-21 13:09:26,2016-03-15 13:48:59,2016-03-15 13:48:59
2,21479204,TMJ - WAS Util Jobs,tmj_dc_util,1,323,294,0,2,https://t.co/DByWt45HZj,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Utilities...,NaN,NaN,Sat Feb 21 12:12:01 +0000 2009,2009-02-21 13:12:01,2016-03-15 13:48:59,2016-03-15 13:48:59
3,21479275,TMJ - JAX Util Jobs,tmj_jax_util,4,311,292,0,4,https://t.co/DByWt45HZj,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Utilities...,NaN,NaN,Sat Feb 21 12:13:37 +0000 2009,2009-02-21 13:13:37,2016-03-15 13:48:59,2016-03-15 13:48:59
4,21479334,TMJ - CHI Util Jobs,tmj_chi_util,6,339,298,0,7,https://t.co/DByWt45HZj,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Utilities...,NaN,NaN,Sat Feb 21 12:15:21 +0000 2009,2009-02-21 13:15:21,2016-03-15 13:48:59,2016-03-15 13:48:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,818079408,Columbia Facil. Mgmt,tmj_cae_facmgmt,41,169,151,0,12,http://t.co/TKb82K4tFJ,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Facilitie...,NaN,NaN,Tue Sep 11 20:00:43 +0000 2012,2012-09-11 22:00:43,2016-03-15 13:49:15,2016-03-15 13:49:15
1124,846108068,NJ Business/Mgmt,tmj_nj_mgmt,218,332,245,0,31,https://t.co/DByWt4njnT,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Business/...,NaN,NaN,Tue Sep 25 19:35:53 +0000 2012,2012-09-25 21:35:53,2016-03-15 13:49:15,2016-03-15 13:49:15
1125,857076271,PR Customer Ser.,tmj_ptr_cstsrv,17,530,300,0,8,http://t.co/paWgrkSWfT,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Customer ...,NaN,NaN,Mon Oct 01 21:47:23 +0000 2012,2012-10-01 23:47:23,2016-03-15 13:49:15,2016-03-15 13:49:15
1126,872126906,PR Soft Dev Java,tmj_ptr_itjava,2,247,202,0,1,http://t.co/OnFSpFHC7G,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Software ...,NaN,NaN,Wed Oct 10 16:44:09 +0000 2012,2012-10-10 18:44:09,2016-03-15 13:49:15,2016-03-15 13:49:15
1127,979406250,Harrisburg Cust. Ser,tmj_hpa_cstsrv,47,267,234,0,7,http://t.co/Kz252i4r,en,...,NaN,NaN,NaN,Follow this account for geo-targeted Customer ...,NaN,NaN,Fri Nov 30 00:08:26 +0000 2012,2012-11-30 01:08:26,2016-03-15 13:49:15,2016-03-15 13:49:15

In [7]:


ff = pd.read_csv("data/cresci2017/fake_followers.csv")
ga = pd.read_csv("data/cresci2017/genuine_accounts.csv") # real
ss1 = pd.read_csv("data/cresci2017/social_spambots_1.csv")
ss2 = pd.read_csv("data/cresci2017/social_spambots_2.csv")
ss3 = pd.read_csv("data/cresci2017/social_spambots_3.csv")
ts1 = pd.read_csv("data/cresci2017/traditional_spambots_1.csv")
ts2 = pd.read_csv("data/cresci2017/traditional_spambots_2.csv")
ts3 = pd.read_csv("data/cresci2017/traditional_spambots_3.csv")
ts4 = pd.read_csv("data/cresci2017/traditional_spambots_4.csv")


ga = pd.concat([ga, pd.read_csv("data/cresci2015/E13.csv")], axis=0)  # real
ff = pd.concat([ff, pd.read_csv("data/cresci2015/FSF.csv")], axis=0) 
ff = pd.concat([ff, pd.read_csv("data/cresci2015/INT.csv")], axis=0) 
ga = pd.concat([ga, pd.read_csv("data/cresci2015/TFP.csv")], axis=0)  # real
ff = pd.concat([ff, pd.read_csv("data/cresci2015/TWT.csv")], axis=0) 

REAL_ACCOUNT = 0
FAKE_FOLLOWER = 1
POLITICAL_SPAMMERS = 2
ADVERTISING_SPAMMERS = 3
OTHER_SPAMMERS = 4
SCAMMERS = 5

def gettype(id):
    
    if id in list(ff.id):
        return FAKE_FOLLOWER

    elif id in list(ga.id):
        return REAL_ACCOUNT

    elif id in list(ss1.id):
        return POLITICAL_SPAMMERS
    elif id in list(ss2.id):
        return ADVERTISING_SPAMMERS
    elif id in list(ss3.id):
        return ADVERTISING_SPAMMERS

    elif id in list(ts1.id):
        return OTHER_SPAMMERS
    elif id in list(ts2.id):
        return SCAMMERS
    elif id in list(ts3.id):
        return ADVERTISING_SPAMMERS
    elif id in list(ts4.id):
        return ADVERTISING_SPAMMERS

    else:
        print(id)
        return -1

In [8]:
gettype(1)

1

-1

In [9]:
train_df["account_type_multi"] = train_df["id"].apply(lambda id: gettype(id))
test_df["account_type_multi"] = test_df["id"].apply(lambda id: gettype(id))

In [10]:
train_df["account_type_multi"].unique()

array([0, 1, 3, 2, 5, 4], dtype=int64)

In [11]:
test_df["account_type_multi"].unique()

array([1, 0, 3, 4, 2, 5], dtype=int64)

In [12]:
train_df.to_csv("data/twitter_data_train_multiclass.csv")
test_df.to_csv("data/twitter_data_test_multiclass.csv")