## Combine 2015 (df_bandy) and 2017 (df_valentin) datasets

In [ ]:
import re
import numpy as np
import pandas as pd
import json

In [ ]:
base = "/Users/ivankoh/Library/CloudStorage/OneDrive-NationalUniversityofSingapore/1D/NUS Y3S1/BT4012/Data/"

In [ ]:
df_valentin = pd.read_excel(base + "data.xlsx")
df_valentin.shape

In [ ]:
df_bandy = pd.read_csv(base + "/all_users_2015.csv")
df_bandy.shape

## Choosing which columns to remove

In [ ]:
#Remove columns with all the same values or null
to_remove_valentin = []
to_remove_bandy = []

def remove_columns(df,to_remove_list):
  for i in df: 
    if len(set(df[i])) == 1 or all(pd.isnull(df[i])):
      to_remove_list.append(i)
      print(i)

print("Valentin_df: Columns with the same values in all of its rows are:")
remove_columns(df_valentin,to_remove_valentin)
print("--------------------------------------------------------------")
print("Bandy_df: Columns with the same values in all of its rows are:")

remove_columns(df_bandy,to_remove_bandy)


# remove_list.append('country_displayable_name')
# print('country_displayable_name')

In [ ]:
# Remove 'protected' and 'verified from to_remove_list for 2015 dataset
# Even though all values for the above columns are null in 2015 dataset, they are not null in 2017 dataset
# A null entry hence might represent an absence of that attribute, meaning that all accounts in 2015 data are not protected and not verified
to_remove_bandy.remove('protected')
to_remove_bandy.remove('verified')

In [ ]:
# Remove irrelevant columns
# Columns 'test_set_1' and'test_set_2' were used for the previous researcher's own testing
to_remove_valentin.extend(['test_set_1', 'test_set_2'])

In [ ]:
# Out of 14368 rows, only 1 row has 'is_translator' == 1
# Remove 'is_translator' due to imbalanced distribution of positive instances and lack of further information from data source
display(df_valentin.loc[df_valentin['is_translator'] == 1,:])
to_remove_valentin.extend(['is_translator'])

In [ ]:
# 'timestamp' and 'created_at' seem to represent the same date but different time in different formats.
# Keep 'created_at' to standardise with df_bandy, remove 'timestamp' and 'crawled_at' due to missing data
display(df_valentin.loc[:,['timestamp','created_at','crawled_at']])
print("Number of missing entries in created_at column:", len(df_valentin[pd.isnull(df_valentin['created_at'])]))
print("Number of missing entries in timestamp column:", len(df_valentin[pd.isnull(df_valentin['timestamp'])]))
print("Number of missing entries in crawled_at column:", len(df_valentin[pd.isnull(df_valentin['crawled_at'])]))

to_remove_valentin.extend(['timestamp','crawled_at'])

In [ ]:
# Remove dataset in 2015 dataset as it is no longer relevant since the data has been labelled
print("Unique values in dataset column", set(df_bandy['dataset'].values))
to_remove_bandy.extend(['dataset'])

In [ ]:
# After dropping columns, both dataset have the same number of columns
df_valentin = df_valentin.drop(to_remove_valentin, axis = 1)
print(df_valentin.shape)

df_bandy = df_bandy.drop(to_remove_bandy, axis = 1)
print(df_bandy.shape)

In [ ]:
# All colmns in 2015 and 2017 dataset have the same name, but might not be in the same order
print(set(df_bandy.columns) == set(df_valentin.columns))

# Rearrange 2015 dataset columns to be the same as that of 2017 for merging
cols_list = df_valentin.columns.tolist()
df_bandy = df_bandy[cols_list]

# All colmns in 2015 and 2017 dataset have the same name and are in the same order, ready for merge
print(list(df_bandy.columns) == list(df_valentin.columns))

In [ ]:
# Combine both dataset and remove duplicated ids
combined_df = pd.concat([df_bandy, df_valentin], axis=0, ignore_index=True)
combined_df = combined_df.drop_duplicates(subset=['id'])
combined_df.shape

## Remove rows that profile picture cannot be scraped

In [ ]:
# Remove rows that profile pic cannot be scraped
with open('data/failed_id_batch1.json') as data:
    failed_id_1 = json.load(data)
with open('data/failed_id_batch2.json') as data:
    failed_id_2 = json.load(data)
failed_id = failed_id_1 + failed_id_2
failed_id = list(set(failed_id)) # Remove duplicated id

In [ ]:
cleaned_df = combined_df
index_list = []
for index, row in combined_df.iterrows():
    if row['id'] in failed_id:
        index_list.append(index)

unique_index_list = list(set(index_list)) # Remove duplicated indexes
cleaned_df.drop(unique_index_list,inplace = True)
cleaned_df.shape

In [ ]:
cleaned_df.to_csv(base + 'combined_twitter_data.csv')